* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 60px;
  background-color: #222;
  font-family: sans-serif;
}

#library-title {
  color: antiquewhite;
  font-size: 44px;
}

#library-title span {
  padding: 14px;
  background-color: #9370db;
  border-radius: 50%;
  font-size: 36px;
  margin-left: 5px;
}

#container {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 217.5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: #3f3e46;
  border-radius: 8px;
  color: #d0d0d0;
  box-shadow: rgba(30, 28, 30, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card .title {
  font-weight: bold;
  text-transform: uppercase;
}

#modal {
  display: none;
  justify-content: center;
  padding-top: 200px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.modal-content {
  align-self: flex-start;
  padding: 40px 40px;
  border-radius: 5px;
  width: 450px;
  background-color: #eee;
}

.modal-content h2 {
  margin: 0 0 20px;
}

#add-book-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  color: #777;
}

input,
select {
  display: block;
  width: 100%;
  background-color: #d6d6d6;
  border: 0;
  margin-top: 1px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}

select {
  align-self: flex-start;
  margin-top: 15px;
  width: 70%;
}

.btn {
  box-sizing: border-box;
  padding: 20px;
  color: #fdfaf6;
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  cursor: pointer;
  background-color: mediumpurple;
  border: 0;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

#btn-close {
  background-color: transparent;
  border: 3px solid #dadada;
  color: #333;
  margin-top: 5px;
}

#btn-show {
  margin: 10 0px 0 40px;
}

.btn-delete {
  background-color: #4c4b51;
  margin-top: 7px;
}

.btn:focus-visible {
  outline: 0;
}

.btn:hover,
#btn-close:hover {
  background-color: #222;
  color: #fdfaf6;
  border-color: #222;
}

#btn-show:hover {
  background-color: #111;
}

#btn-close:hover {
  background-color: #dadada;
  border-color: #dadada;
  color: #333;
}

.btn-delete:hover {
  background-color: crimson;
}

/* The switch - the box around the slider */
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* display: inline-block; */
  width: 100%;
  margin-top: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.switch .btn {
  background-color: #4c4b51;
}

.switch input:hover + .btn {
  background-color: #222;
}

.switch input:checked + .btn {
  background-color: #82b594;
}
